<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表過濾</title>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="./js/vue.js" onload="Vue.config.productionTip = false"></script>
</head>
<body>
    <div id="root">
        <h1>人員列表</h1>
        <input type="text" placeholder="Enter name" v-model="keyword"></input>
        <ul>
            <li v-for="(p,index) of fillPersons" :key="p.id">
                {{p.name}} - {{p.age}}
            </li>
        </ul>
    </div>
    <script type="application/javascript">

        //用watch實現
        //#region
        /*new Vue({
            el:'#root',
            data:{
                keyword:'',
                persons:[
                    {id:'001',name:"YY",age:10},
                    {id:'002',name:"HY",age:21},
                    {id:'003',name:"HC",age:13},
                    {id:'004',name:"GS",age:19}
                ],
                fillPersons:[]
            },
            watch:{
                keyword:{
                    immediate:true,
                    handler(val){
                        this.fillPersons =this.persons.filter((p)=>{
                            return p.name.indexOf(val) !== -1
                        })
                    }
                }
            }
        })*/
       //#endregion

        //用computed實現
        new Vue({
            el:'#root',
            data:{
                keyword:'',
                persons:[
                    {id:'001',name:"YY",age:10},
                    {id:'002',name:"HY",age:21},
                    {id:'003',name:"HC",age:13},
                    {id:'004',name:"GS",age:19}
                ],
            },
            computed:{
                fillPersons(){
                    return this.persons.filter((p)=>{
                        return p.name.indexOf(this.keyword) !== -1
                    })
                }
            }
        })
    </script>
</body>
</html>